@font-face {
  src: url('../fonts/SourceSansPro-Light.otf.woff2') format('woff2');
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url('../fonts/SourceSerifPro-Light.otf.woff2') format('woff2');
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url('../fonts/SourceSerifPro-Semibold.otf.woff2') format('woff2');
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0.5em;
  font-weight: 300;
  font-size: 48px;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
body {
  font-family: "Source Serif Pro", serif;
  background-color: WhiteSmoke;
  color: #202020;
  font-weight: 300;
  line-height: 1.3;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #4F0276;
}
img {
  height: 100px;
  justify-self: center;
  align-self: center;
}
header {
  margin-bottom: 2em;
}
#page {
  width: 800px;
  margin: auto;
  margin-bottom: 1em;
}
main section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 3em;
}
footer {
  font-size: 12px;
}
#copyright {
  margin-bottom: 1em;
}
