@font-face {
	src: url('../fonts/SourceSansPro-Light.otf.woff2') format('woff2');
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;	
}
@font-face {
	src: url('../fonts/SourceSerifPro-Light.otf.woff2') format('woff2');
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 300;	
}
@font-face {
	src: url('../fonts/SourceSerifPro-Semibold.otf.woff2') format('woff2');
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 600;	
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}
@background-color: WhiteSmoke;
@text-color: 	#202020;
@serif-font: "Source Serif Pro", serif;
@sans-font: "Source Sans Pro", sans-serif;
// colors
@green: rgba(88, 208, 121, 0.9);
@purple: #4F0276;

* {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: @sans-font;
	margin-top: .5em;
	font-weight: 300;
	font-size: 48px;	
}
h2 {
	font-size: 20px;
	font-weight: 600;
}
body {
	font-family: @serif-font;
	background-color: @background-color;
	color: @text-color;
	font-weight: 300;
	line-height: 1.3;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: @purple;
}
img {
	height: 100px;
	justify-self: center;
	align-self: center;
}
header {
	margin-bottom: 2em;
}
#page {
	width: 800px;
	margin: auto;
	margin-bottom: 1em;
}
main section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin-bottom: 3em;
}
footer {
	font-size: 12px;
}
#copyright {
	margin-bottom: 1em;
}
